mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			+e.text
				a(href='#') Политика конфиденциальности. 
				| Информация на сайте предназначена только для совершеннолетних (18+). Сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой статьей 437 ГК РФ.
