.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-contact {
	font-size:(45.43/10)*1rem;
	width:(45.43/45.43)*1em;
}
.icon-get1 {
	font-size:(38.59/10)*1rem;
	width:(34/38.59)*1em;
}
.icon-get2 {
	font-size:(33/10)*1rem;
	width:(33/33)*1em;
}
.icon-get3 {
	font-size:(35/10)*1rem;
	width:(35.01/35)*1em;
}
.icon-get4 {
	font-size:(35.41/10)*1rem;
	width:(35/35.41)*1em;
}
.icon-left {
	font-size:(21.8/10)*1rem;
	width:(12/21.8)*1em;
}
.icon-phone {
	font-size:(473.81/10)*1rem;
	width:(473.81/473.81)*1em;
}
.icon-right {
	font-size:(21.8/10)*1rem;
	width:(12/21.8)*1em;
}
