mixin s-about()
	// start s-about
	+b.SECTION.s-about.section#s-about&attributes(attributes)
		.container
			+e.row.row
				+e.img-col.col-lg-auto
					+e.img-text-wrap
						+e.img-wrap
							img(src='img/@2x/about-img.jpg' alt='')
				+e.text-col.col-lg
					h2 Давайте знакомиться
					p Меня зовут Ламара Аланиа. Я живу в г. Краснодар
					p Мои клиенты – 
						strong строители и проектировщики<br>
						| Моя специализация – 
						strong арбитраж, взыскание долгов, 
						| мелкие хозяйственные и административные споры.
					p Свою судебную практику начала в 2011 году. Опыт работы в государственных и крупных энергетических компаниях.
					p Окончены специальности по гражданскому и уголовному праву.
	// end s-about