mixin s-get()
	// start s-get
	+b.SECTION.s-get.section#s-get&attributes(attributes)
		+e.wrap
			.container
				+e.row-wrap
					h2 Что Вы получите
					+e.row.row
						+e.col.col-lg-6
							+e.in-row.row
								+e.icon-col.col-auto
									+e.icon-wrap
										+icon('get1')
								.col
									p
										strong Прозрачная оплата
									p 7000 р.₽предоплата + 7% от полученной суммы. Никаких скрытых платежей. Окончательный расчет после поступления денег на Ваш счет.
							+e.in-row.row
								+e.icon-col.col-auto
									+e.icon-wrap
										+icon('get2')
								.col
									p
										strong Полный комплекс услуг
									p Осуществляю весь спектр действий для получения денег на Ваш расчётный счёт.
						+e.col.col-lg-6
							+e.in-row.row
								+e.icon-col.col-auto
									+e.icon-wrap
										+icon('get3')
								.col
									p
										strong Честная консультация
									p Вероятность успеха оценивается до заключения договора. Если дело не имеет перспективы, честно говорю об этом.  Решение принимаете Вы.
							+e.in-row.row
								+e.icon-col.col-auto
									+e.icon-wrap
										+icon('get4')
								.col
									p
										strong Высокие шансы на успех
									p Узкая специализация и опыт ведения дел в строительстве обеспечивают моим клиентам высокую вероятность положительного решения.
	// end s-get