mixin s-cases()
	// start s-cases
	+b.SECTION.s-cases.section#s-cases&attributes(attributes)
		.container
			+e.wrap
				h2 Кейсы
				+e.slider-title--js
					.slick-slide
						+e.slide-title Дело о взыскании дебиторской задолженности – 1
					.slick-slide
						+e.slide-title Дело о взыскании дебиторской задолженности – 2
					.slick-slide
						+e.slide-title Дело о взыскании дебиторской задолженности – 3
					.slick-slide
						+e.slide-title Дело об отмене административного нарушения
				+e.slider-wrap
					+e.slider--js
						.slick-slide
							+e.slide-row.row
								+e.col.col-lg-6
									+e.title-img-wrap
										img.res-i(src='img/@2x/case-title.png' alt='')
									p Компания  «ЮСК – Империя» поставила покупателю товар,&nbsp;который не был оплачен в установленные договором&nbsp;сроки.
									p
										strong Задача:
										| взыскать с покупателя задолженность за неоплаченный&nbsp;товар.
									p
										strong Сложности дела:
										| Поставщик уже обращался в суд, и суд первой инстанции&nbsp;неправомерно снизил размеры выплат.
								+e.col.col-lg-6
									p
										strong Результат:
										| Отмена неправомерного решения суда и взыскание с покупателя полной суммы вместе с неустойкой и оплатой расходов на юриста. Деньги на счет поставщика поступили в полном объеме.
									p
										strong Сумма взыскания:
										span 136 494 ₽
						.slick-slide
							+e.slide-row.row
								+e.col.col-lg-6
									+e.title-img-wrap
										img.res-i(src='img/@2x/case-title.png' alt='')
									p ООО "КЗТИ" (Краснодар) не могло получить от покупателя деньги за поставленный товар.
									p
										strong Задача:
										| взыскать с покупателя задолженность за поставленный, но неоплаченный товар.
									p
										strong Сложности дела:
										| На балансе компании-ответчика на момент судебного разбирательства было НОЛЬ рублей.
								+e.col.col-lg-6
									p
										strong Результат:
										| Дело выиграно. Суд обязал ответчика к полной выплате долга и неустойки.
									p Деньги на счет поставщика поступили в полном объеме.
									p
										strong Сумма взыскания:
										span 1 547 089 ₽
						.slick-slide
							+e.slide-row.row
								+e.col.col-lg-6
									+e.title-img-wrap
										img.res-i(src='img/@2x/case-title.png' alt='')
									p ООО "ИНЭР" (г. Санкт-Петербург) оказало клиенту услуги, которые не были оплачены.
									p
										strong Задача:
										| взыскать с покупателя задолженность за оказанные услуги.
									p
										strong Сложности дела:
										| На момент судебного разбирательства на счета ООО "ИНЭР" был наложен арест.
								+e.col.col-lg-6
									p
										strong Результат:
										| Дело выиграно. Суд обязал ответчика к полной выплате долга и неустойки.
									p Хотя счета нашего клиента были арестованы, мы смогли вернуть ему деньги в полном объеме.
									p
										strong Сумма взыскания:
										span 403 509 ₽
						.slick-slide
							+e.slide-row.row
								+e.col.col-lg-6
									+e.title-img-wrap
										img.res-i(src='img/@2x/case-title.png' alt='')
									p На ООО "ПСК ВИВ" (г. Москва) был наложен штраф за нарушение, которое компания не совершала.
									p
										strong Задача:
										| Отменить решение ОАТИ г. Москвы об административном правонарушении.
								+e.col.col-lg-6
									p
										strong Результат:
										| Судебное решение об административном правонарушении было обжаловано и отменено
									p
										strong Сумма взыскания:
										span 300 000 ₽
					+e.slider-btn--left.btn
						+icon('left')
					+e.slider-btn--right.btn
						+icon('right')
				+e.slider-dots
	// end s-cases