mixin s-steps()
	// start s-steps
	+b.SECTION.s-steps.section#s-steps&attributes(attributes)
		.container
			+e.block.bg-wrap
				img.bg-img(src='img/@2x/steps-bg.jpg' alt='')
				+e.text-wrap
					h2 Как будет проходить наше сотрудничество:
					ol
						li
							span Звоните 
							| и оставляете заявку на ведение вашего дела
						li
							span Присылаете 
							| документацию для ознакомления с делом
						li
							span Я оцениваю 
							| шансы на выигрыш дела
						li
							span Заключаем 
							| договор
						li
							span Исполняю 
							| досудебную и судебную работу:
							ul
								li написание претензии
								li написание искового заявления
								li представительство в суде
								li написание апелляции
						li
							span Взаимодействую 
							| со службами приставов и исполнителей и контролирую перечисление денежных средств на Ваш р/с
						li
							span Деньги 
							| у Вас!
					+e.A.btn.btn.btn-primary(href='#') Начать работу
	// end s-steps