mixin s-reviews()
	// start s-reviews
	+b.SECTION.s-reviews.section#s-reviews&attributes(attributes)
		.container
			+e.wrapper
				h2 Что говорят обо мне клиенты
				+e.slider-wrap
					+e.slider--js
						.slick-slide
							+e.item
								+e.item-title
									img.res-i(src='img/@2x/rew-title1.png' alt='')
								p ООО «ЮСК – Империя» выражает благодарность Аланиа Ламаре Зурабовнеза оказанную профессиональную помощь в вопросе взыскания дебиторской задолженности. Благодарим Вас за проделанную работу и надеемся на  дальнейшее сотрудничество.
								p Генеральный директор ООО «ЮСК – Империя»<br>Смирнов Максим Иванович
						.slick-slide
							+e.item
								+e.item-title
									img.res-i(src='img/@2x/rew-title1.png' alt='')
								p ООО «ЮСК – Империя» выражает благодарность Аланиа Ламаре Зурабовнеза оказанную профессиональную помощь в вопросе взыскания дебиторской задолженности. Благодарим Вас за проделанную работу и надеемся на  дальнейшее сотрудничество.
								p Генеральный директор ООО «ЮСК – Империя»<br>Смирнов Максим Иванович
						.slick-slide
							+e.item
								+e.item-title
									img.res-i(src='img/@2x/rew-title1.png' alt='')
								p ООО «ЮСК – Империя» выражает благодарность Аланиа Ламаре Зурабовнеза оказанную профессиональную помощь в вопросе взыскания дебиторской задолженности. Благодарим Вас за проделанную работу и надеемся на  дальнейшее сотрудничество.
								p Генеральный директор ООО «ЮСК – Империя»<br>Смирнов Максим Иванович
					+e.slider-btn--left.btn
						+icon('left')
					+e.slider-btn--right.btn
						+icon('right')
				+e.slider-dots
					
	// end s-reviews